    body{
    margin: 0;
    padding: 0;
   /* background:linear-gradient(rgb(0,0,0,0.75), rgba(0, 0, 0, 0.75),rgba(0, 35, 131, 0.75)), url(IMAGE/homeback.jpeg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat*/
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

main{
    display: flex;
}

h1{
    width: 9%;
    text-align: center;
    background-color: gray;
    padding: 20px   ;
    color: #fff;
    height: 40px;

}
div .hr{
    margin: 0 auto;
  width: 95%;
  position: relative;
  height: 50px;
  top: 30px;
  font-size: 20px;
  margin-bottom: 80px;
}
h2{
    padding: 5px 0px 5px 0px;
    height: 40px;
}
.main-content{
    width: 70%;
    margin: 0 auto;
    color: black;
    margin-left: 33%;
    background-color: white;
 
}
.div1 p{
    font-size: x-large;
    line-height: 30px;
    text-align: center;
}

img{
    float: left;
    width: 80%;
    margin-left: 70px;
    height: 400px;
    box-sizing: 10px 10px 10px gray;
    margin-bottom: 20px;
}
.div1{
    margin-top: 50px;
    margin-bottom: 100px;
}

.roll{
    background-image: url(../IMAGES/prof1.jpg);
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    height: 400px;
    box-sizing: 10px 10px 10px gray;
    margin-bottom: 20px;
}

.roll:hover{
    transition-delay: 0.3;
    background-image: url(../IMAGES/PROF.jpg);
}
.nb{
    padding-bottom: 20px;
}
footer {
    height: 25px;
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
    background-color: gray;
    padding-bottom: 20px;
}
footer p{
    position: relative;
    top: -24px;
    font-size: 10px;
}
/*#eae7dc  #d8c3a5, #8e8d8a, #e98074, #e85a4f*/
.log{
    display: flex;
    margin-left: 20px;
    margin-top: 20px ;
    margin-bottom: 20px;
}
.log .log_name{
    margin-top: 17px;
    margin-left: 5px;
    font-size: x-large;
  
}
.logo{
    width: 60px;
    height: 60px;   
}
.logo img{
    width: 60px;
    height: 60px;
    position: relative;
    left: -70px;
}
.sideBar{
    width: 250px;
    background-color: #d8c3a5;
    box-sizing: border-box;
    height: 100%;
    position: fixed;    
}

.sideBar h2{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    background-color: gray;
    color: white;
}

.sideBar a{
    margin-bottom: 10px;
    border: 2px solid black;
    display: block;
    width: inherit;
    height: inherit;
    padding: 10px ;
    text-align: center;
    color: black;
}

.sideBar a:hover{
    transition-delay: .2s;
    color: white;
    background-color: #e85a4f;
}

.sideBar li{
    margin: 30px;
    text-align: left;
    margin-left: -30px;
}

.main{
    width: 90%;
}
.main h1{
    position: relative;
    top: -20px;
    width: 98%;
    padding: 10px;
    height: 50px;
}
